@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --toastify-color-success: #4e2ffd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100vh;
  background: #fff;
  z-index: 9999999999;
  .spinner {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid rgb(124, 124, 124);
    border-top-color: #4e2ffd;
    -webkit-animation: 1s spin linear infinite;
    animation: 1s spin linear infinite;
  }
  @keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

//sidebar

.sidebar {
  position: relative;
  height: 100vh;
  width: 20vw;
  min-width: 300px;
  padding: 1rem;
  border-right: 1px solid rgba(76, 78, 100, 0.12);
  transition: 0.5s;
  transition-property: width;
  .sidebar_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8%;
    .sidebar_logo {
      width: 6rem;
      img {
        width: 100%;
      }
    }
    .sidebar_btn {
      display: none;
      svg {
        font-size: 2rem;
      }
    }
  }
  .sidebar_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92%;
    .sidebar_menu_links {
      display: flex;
      flex-direction: column;
      margin-top: 1.5rem;
      a {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0.5rem 0;
        font-size: 1.3rem;
        padding: 1rem;
        text-decoration: none;
        border-radius: 8px;
        color: #101010;
        svg {
          margin-right: 1rem;
          font-size: 1.3rem;
        }
      }
      .active {
        color: #fff;
        background-color: rgb(120, 126, 255);
      }
    }
    .logout_btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin: 0.5rem 0;
      font-size: 1.3rem;
      padding: 1rem;
      text-decoration: none;
      border-radius: 8px;
      color: #101010;
      transition: 0.3s all ease-in-out;
      svg {
        margin-right: 1rem;
        font-size: 1.3rem;
      }
      &:hover {
        background: #10101024;
      }
    }
  }
  @media (max-width: 1024px) {
    padding: 0.5rem;
    width: 90px;
    min-width: auto;
    overflow: hidden;
    .sidebar_header {
      justify-content: center;
      .sidebar_logo {
        display: none;
      }
      .sidebar_btn {
        display: block;
        cursor: pointer;
      }
    }
    .sidebar_content {
      .sidebar_menu_links {
        a {
          svg {
            margin-right: 0;
            font-size: 2rem;
          }
          p {
            display: none;
          }
        }
      }
      .logout_btn {
        svg {
          margin-right: 0;
          font-size: 2rem;
        }
        p {
          display: none;
        }
      }
    }
  }
  @media (max-width: 768px) {
    padding: 0.3rem;
    width: 80px;
    .sidebar_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 8%;
      .sidebar_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        svg {
          font-size: 2rem;
        }
      }
    }
    .sidebar_content {
      .sidebar_menu_links {
        margin: 0;
        a {
          margin: 0.3rem 0;
          svg {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

// .active_sidebar {
//   position: absolute;
//   z-index: 9999999;
//   width: 70%;
//   background-color: #fff;
//   transform: translateX(0);
//   .sidebar_content {
//     .sidebar_menu_links {
//       a {
//         font-size: 1rem;
//         svg {
//           margin-right: 1rem;
//         }
//         p {
//           display: block;
//         }
//       }
//     }
//   }
// }

//Header

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60px;
  border-bottom: 1px solid rgba(76, 78, 100, 0.12);
  p {
    font-size: 1.2rem;
  }
}

.App {
  display: flex;
  position: relative;
}

//Login Page

.login_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://res.cloudinary.com/dzsocqtuc/image/upload/v1674549588/rm218-bb-07_fpmcgt.jpg");
  background-size: cover;
  background-position: center;
  .login_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    border-radius: 8px;
    width: 20%;
    min-width: 400px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .logo {
      width: 5rem;
      margin-bottom: 2rem;
      img {
        width: 100%;
      }
    }
    .inputs {
      display: flex;
      flex-direction: column;
      width: 100%;
      form {
        input {
          width: 100%;
          color: #000;
          padding: 0.8rem;
          margin: 0.5rem 0;
          background-color: #fff;
          outline: none;
          border-radius: 8px;
          font-size: 1.2rem;
          border: 1px solid rgba(0, 0, 0, 0.13);
        }
        .passwordInput {
          display: flex;
          border: 1px solid rgba(0, 0, 0, 0.13);
          align-items: center;
          border-radius: 0.4rem;
          input {
            border: none;
            margin: 0;
          }
          svg {
            font-size: 1.2rem;
            margin-right: 1rem;
          }
        }
        button {
          color: #fff;
          padding: 0.8rem;
          margin: 0.5rem 0;
          background-color: #7264d5;
          outline: none;
          font-size: 1.2rem;
          border-radius: 8px;
          border: none;
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .login_card {
      width: 60%;
    }
  }
  @media (max-width: 768px) {
    .login_card {
      min-width: auto;
      width: 90%;
      padding: 2rem;
    }
  }
}

.container {
  width: 100%;
  position: relative;
  .content {
    display: flex;
    font-size: 1.2rem;
    .list_item {
      width: 70%;
      max-height: 93vh;
      overflow-y: scroll;
      .item_card {
        display: flex;
        margin: 0 1rem;
        padding: 1rem;
        justify-content: space-between;
        border-bottom: 1px solid rgba(76, 78, 100, 0.12);
        .tools {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          .item_preview {
            a {
              text-decoration: none;
              color: #101010;
            }
          }
          .item_edit {
            cursor: pointer;
          }
          .item_delete {
            cursor: pointer;
          }
        }
      }
    }
    .edit_menu {
      height: 100%;
      padding: 1rem;
      width: 30%;
      max-height: 93vh;
      overflow-y: scroll;
      border-left: 1px solid rgba(76, 78, 100, 0.12);
      .edit_menu_title {
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(76, 78, 100, 0.12);
      }
      form {
        .inputs {
          display: flex;
          flex-direction: column;
          margin: 1rem 0;
          label {
            font-size: 1.2rem;
            padding: 0.5rem 0;
          }
          input {
            font-size: 1rem;
            border: 1px solid #7164d571;
            padding: 1rem;
            border-radius: 8px;
            outline: none;
          }
          textarea {
            font-size: 1rem;
            border: 1px solid #7164d571;
            padding: 1rem;
            border-radius: 8px;
            outline: none;
            resize: vertical;
            height: 150px;
          }
          input[type="file"] {
            display: none;
          }
          .upload_btn {
            border: 1px solid #7164d571;
            padding: 0.6rem 1rem;
            width: 100%;
            cursor: pointer;
            background-color: #7264d5;
            border-radius: 8px;
            color: #fff;
            font-size: 1rem;
            text-align: center;
          }
          button {
            padding: 1rem;
            background-color: #7264d5;
            border-radius: 8px;
            color: #fff;
            font-size: 1rem;
            cursor: pointer;
          }
        }
      }
    }
  }
  @media (max-width: 1024px) {
    overflow: hidden;
    .content {
      font-size: 1rem;
      .list_item {
        width: 100%;
      }
      .edit_menu {
        display: block;
        position: absolute;
        width: 100%;
        background-color: #fff;
        transform: translateX(100%);
        transition: all 0.6s;
        form {
          .inputs {
            margin: 0.2rem 0;
            label {
              font-size: 1rem;
            }
            input {
              font-size: 1rem;
              padding: 0.5rem;
            }
          }
        }
        .phone_btn_input {
          display: flex;
          flex-direction: row;
          button {
            padding: 1rem;
            background-color: #7264d5;
            border-radius: 8px;
            color: #fff;
            font-size: 1rem;
            cursor: pointer;
            width: 100%;
          }
        }
      }
      .edit_menu_active {
        transform: translateX(0%);
      }
    }
  }
}
